* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
}

:root {
  --main-color: #0b9586;
  --bg-color: #fff;
  --accent-color: #ffbb1c;
  --main-text: #101828;
  --side-text: #3cab90;
  --number-color: #84bd3a;
  --footer-color: #283646;
  --secodary-text: #475467;
  --special-bg: #ffbb1c0d;
  --card-bg: #3cab900d;
}

/* Global Styles */

button {
  border: none;
  outline: none;
  color: white;
  padding: 0.8rem 3rem;
  border-radius: 30px;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  letter-spacing: 1.8px;
}

button.main {
  background-color: var(--side-text);
}
button.main:hover {
  background-color: var(--side-text);
}
button.secondary {
  background-color: var(--accent-color);
  color: #101828;
}

.container {
  padding: 0 1rem;
  max-width: 1570px;
  margin: 0 auto;
}

/** Nav Styles */
nav {
  background-color: var(--main-color);
  padding: 1rem 0;
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo {
  display: flex;
  align-items: center;
}
nav .links {
  display: flex;
  gap: 5rem;
}
nav .links ul {
  display: flex;
  gap: 2rem;
  list-style-type: none;
  align-items: center;
}

nav .links ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 1rem 0;
  padding: 8px 25px;
  border-radius: 5px;
  border-bottom: 0px solid #07645a;
  top: 0;
  transition: all 0.3s ease;
  position: relative;
}

nav .links ul li a:hover {
  background-color: #0a8c7e;
  border-bottom: 4px solid #07645a;
  top: -3px;
}

nav .cta {
  color: white;
  display: flex;
  flex-direction: column;
}
nav .cta .label {
  display: flex;
  justify-content: end;
}
nav .cta .number {
  font-weight: bold;
  font-size: 1.2rem;
}

/** Section 1 */
.section-1 {
  background-image: url("./images/solar-panels-meadow\ 1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6rem 1rem 12rem;
}

.section-1 .container {
  display: flex;
  flex-direction: column;
}

.section-1 .slide {
  margin: 0 0 8rem 0;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.section-1 .slide .num {
  color: white;
  font-size: 1.3rem;
}

.section-1 .slide .loader-body {
  width: 300px;
  height: 5px;
  background-color: #575757;
}
.section-1 .slide .loader-body .loader {
  height: 100%;
  width: 40%;
  background-color: var(--bg-color);
}

.section-1 .main h1 {
  color: white;
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 2.3rem;
}
.section-1 .main p {
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1.4px;
  line-height: 30px;
}

.section-1 .btn-group {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

/** Section 2 */

.section-2 {
  background-color: var(--bg-color);
  padding: 6rem 1rem;
}
.section-2 .wrapper {
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
}
.section-2 .wrapper .left {
  width: 50%;
}
.section-2 .wrapper .right {
  position: relative;
  width: 40%;
}
.section-2 .wrapper h2 {
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--main-text);
  margin-bottom: 2rem;
}
.section-2 .wrapper p {
  font-size: 1.2rem;
  color: #475467;
  margin-bottom: 50px;
  line-height: 32px;
}
.section-2 .wrapper .right img {
  width: 100%;
}

.section-2 .wrapper .right .overlay {
  position: absolute;
  bottom: 40px;
  left: -50px;
  width: 266px;
  height: 208px;
  padding: 24px 30px 24px 30px;
  border-radius: 12px;
  background-color: var(--accent-color);
  z-index: 1;
}
.section-2 .wrapper .right .overlay img {
  width: 50%;
}
.section-2 .wrapper .list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style-type: none;
}
.section-2 .wrapper .list li .number {
  font-size: 1.2rem;
  letter-spacing: 2.2px;
  font-weight: 500;
  color: var(--number-color);
}
.section-2 .wrapper .list li .text {
  font-size: 1.4rem;
  color: var(--main-text);
  font-weight: bold;
}

/* Section 3 */

.section-3 {
  background-image: url("./images/bg-section3.webp");
  background-size: cover;
  padding: 10rem 1rem;
}

.section-3 .container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section-3 h3 {
  font-size: 2.5rem;
  color: white;
}
.section-3 p {
  font-size: 1.3rem;
  color: white;
}

.section-3 .container button {
  align-self: flex-start;
  font-size: 1rem;
}

/** Section 4 */
.section-4 {
  padding: 6rem 1rem;
}
.section-4 .container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section-4 .header,
.section-7 .header {
  text-align: center;
}

.section-4 .header h3,
.section-7 .header h3 {
  font-size: 2.5rem;
  color: var(--main-text);
  margin-bottom: 1.6rem;
}
.section-4 .header p,
.section-7 .header p {
  font-size: 1.1rem;
  color: var(--secodary-text);
  width: 70%;
  margin: 0 auto;
}

.section-4 .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

.section-4 .cards .card {
  box-shadow: 0px 4px 30px 0px #0000000d;
}

.section-4 .cards .card img {
  width: 100%;
}
.section-4 .cards .card .body {
  padding: 1.5rem;
}
.section-4 .cards .card .body .title {
  color: var(--main-text);
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.section-4 .cards .card .body p {
  color: var(--secodary-text);
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

/** Section 5 */
.section-5 {
  padding: 6rem 1rem;
  background-image: url("./images/bg-section4.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
.section-5 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-5 .wrapper {
  width: 60%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  padding: 3rem;
  color: white;
  text-align: center;
}
.section-5 h3 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.section-5 p {
  font-size: 1.3rem;
  line-height: 1.8rem;
}

/** Section 6  */
.section-6 {
  background-color: var(--special-bg);
  padding: 6rem 1rem;
}
.section-6 .row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
}
.section-6 .row .icon {
  padding: 0.8rem;
  width: max-content;
  background-color: #3cab9026;
  border-radius: 26px;
  position: relative;
  top: -20px;
  left: -10px;
}
.section-6 .row .icon .background-icon {
  display: grid;
  place-items: center;
  background-color: var(--side-text);
  border-radius: 16px;
  padding: 4px;
}

.section-6 .row .icon img {
  transform: scale(0.6);
}

.section-6 .row .header {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.section-6 .row p {
  font-size: 1.3rem;
  color: var(--secodary-text);
  line-height: 1.8rem;
  margin-bottom: 1.5rem;
}

.section-6 .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1.5rem;
}
.section-6 .cards .card,
.section-7 .cards .card {
  padding: 2rem;
  background-color: var(--card-bg);
  box-shadow: 0px 4px 30px 0px #0000000d;
  border-radius: 12px;
  border: 1px solid var(--side-text);
}
.section-6 .cards .card span {
  text-decoration: underline;
  cursor: pointer;
}
.section-6 .cards .card .image {
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  margin-bottom: 3rem;
}

.section-6 .cards .card h3 {
  font-size: 1.8rem;
  color: var(--main-text);
  margin-bottom: 1.5rem;
}
.section-6 .cards .card .cta {
  color: var(--side-text);
  display: flex;
  gap: 5px;
  align-items: center;
}

.section-6 .cards .card img {
  width: 100%;
}

/** Section 7  */
.section-7 {
  padding: 6rem 1rem;
}
.section-7 .container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section-7 .cards {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

.section-7 .cards .card img {
  width: 15%;
}

.section-7 .cards .card h3 {
  font-size: 1.5rem;
  color: var(--main-text);
  margin: 1.5rem 0;
}
.section-7 .cards .card p {
  font-size: 1.2rem;
  color: var(--secodary-text);
  line-height: 1.6;
}

/** Section 8 */
.section-8 {
  padding: 6rem 1rem;
}
.section-8 .wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
}
.section-8 .wrapper .left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  padding: 3rem 0;
}
.section-8 .wrapper .left .icon img {
  width: 60px;
}
.section-8 .wrapper .left h3 {
  font-size: 3rem;
  color: var(--main-text);
}

.section-8 .wrapper .left p {
  font-size: 1.3rem;
  color: var(--secodary-text);
  line-height: 1.8rem;
}

.section-8 .wrapper .right {
  background-color: var(--card-bg);
  padding: 2rem;
  border-radius: 20px;
}
.section-8 .wrapper .right .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}
.section-8 .wrapper .right .header .title {
  font-size: 1.1rem;
  color: var(--side-text);
  font-weight: 500;
}
.section-8 .wrapper .right .header .dots {
  display: flex;
  gap: 7px;
}

.section-8 .wrapper .right .header .dots .dot.filled {
  background: #6b6b6b;
}
.section-8 .wrapper .right .header .dots .dot {
  width: 8px;
  height: 8px;
  background-color: #d9d9d9;
  border-radius: 50%;
}

.section-8 .wrapper .right p {
  width: 70%;
  font-size: 1.5rem;
  color: var(--main-text);
  line-height: 1.6;
  margin-bottom: 4rem;
}

.section-8 .wrapper .right .profile {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}
.section-8 .wrapper .right .profile .info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.section-8 .wrapper .right .profile .info .name {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--main-text);
}

.section-8 .wrapper .right .profile .buttons {
  display: flex;
  gap: 1rem;
}

.section-8 .wrapper .right .profile .buttons .button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
  transition: all 0.3s ease;
}

.section-8 .wrapper .right .profile .buttons .button:hover {
  background-color: var(--side-text);
  color: white;
  border: 1px solid white;
}

/** Footer */

footer {
  background-color: var(--footer-color);
  padding: 4rem 1rem;
}
footer .container {
  display: flex;
  flex-direction: column;
}
footer .links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}
footer .links .left {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
footer .links .left ul {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}
footer .links .left ul a {
  text-decoration: none;
  color: white;
}

footer .links .right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer .links .right label {
  color: white;
  letter-spacing: 1.4px;
  font-size: 0.9rem;
}

footer .links .right .inputField {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  overflow: hidden;
  border: 1px solid #b3bdc7;
  background-color: #3b4857;
}
footer .links .right .inputField input {
  background-color: #3b4857;
  height: 100%;
  padding: 1rem;
  border: none;
  color: white;
  outline: none;
}
footer .links .right .inputField button {
  padding: 1rem 2rem;
  height: 100%;
  font-size: 1rem;
  color: white;
}
footer .links .right .inputField button:hover {
  background-color: #a18545;
}
.breaker-line {
  background-color: #71777d;
  width: 100%;
  height: 1px;
}
footer .hyper-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #92989f;
  margin-top: 4rem;
}

/*? Media Quries */

@media screen and (max-width: 1440px) {
  .container {
    max-width: 1280px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 960px;
  }

  .section-2 .wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .section-2 .wrapper h2 {
    font-size: 2.2rem;
    margin-bottom: 20px;
  }
  .section-2 .wrapper p {
    font-size: 1rem;
    margin-bottom: 25px;
  }

  .section-2 .wrapper .left {
    width: 100%;
  }
  .section-2 .wrapper .right {
    position: relative;
    width: 100%;
  }
  .section-2 .wrapper .list li .number {
    font-size: 1rem;
  }
  .section-2 .wrapper .list li .text {
    font-size: 1rem;
  }
  .section-2 .wrapper .right .overlay {
    display: none;
  }

  .section-4 .header p,
  .section-7 .header p {
    width: 100%;
  }

  .section-5 .wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 720px;
  }

  .section-6 .row {
    grid-template-columns: 1fr;
  }
  .section-6 .row .col {
    text-align: center;
  }

  .section-6 .cards {
    grid-template-columns: 1fr;
  }

  .section-8 .wrapper {
    grid-template-columns: 1fr;
  }
  .section-8 .wrapper .left h3 {
    font-size: 2rem;
  }

  .section-8 .wrapper .left p {
    font-size: 1rem;
  }
  .section-8 .wrapper .right .header {
    margin-bottom: 2rem;
  }
  .section-8 .wrapper .right p {
    width: 100%;
    font-size: 1.3rem;
    margin-bottom: 3rem;
  }
  .section-8 .wrapper .right .profile {
    flex-direction: column;
    gap: 1.5rem;
  }

  .section-8 .wrapper .right .profile .info {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  .section-8 .wrapper .right .profile .buttons {
    width: 100%;
    justify-content: space-around;
  }

  footer .links {
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
  }
  footer .links .left ul {
    flex-direction: column;
    gap: 1rem;
  }
  footer .hyper-links {
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 600px) {
  .container {
    max-width: 540px;
  }
  nav .container {
    flex-direction: column;
  }
  nav .links {
    flex-direction: column;
    gap: 5px;
    align-items: center;
  }
  nav .links ul {
    gap: 0.1rem;
    align-items: center;
  }
  nav .cta {
    display: none;
  }

  .btn-group {
    flex-direction: column;
    gap: 0.4rem !important;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 0 2rem;
  }

  .container {
    padding: 1rem 1rem !important;
  }
  nav {
    padding: 0.5rem 0 !important;
  }
  nav .links ul li a {
    font-size: 0.8rem;
  }

  .section-1 {
    padding: 4rem 1rem;
  }

  .section-1 .slide {
    gap: 3rem;
    margin-bottom: 2rem;
  }
  .section-1 .main h1 {
    font-size: 3rem;
  }
  .section-1 .main p {
    font-size: 1rem;
  }

  .section-2 {
    padding: 1rem;
  }

  .section-3 {
    padding: 4rem 0;
  }
  .section-3 .container {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .section-3 h3 {
    font-size: 2rem;
  }
  .section-3 p {
    font-size: 1.1rem;
  }
  .section-3 .container button {
    align-self: center;
  }

  .section-4 {
    padding: 3rem 0;
  }

  .section-4 .header p {
    width: 90%;
  }

  .section-5 {
    padding: 3rem 0;
  }

  .section-5 h3 {
    font-size: 2rem;
  }
  .section-5 p {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }

  .section-5 .wrapper {
    width: 100%;
    padding: 2rem;
  }

  .section-6 {
    padding: 3rem 0;
  }
  .section-6 .row .header {
    font-size: 1.8rem;
  }
  .section-6 .row p {
    font-size: 1rem;
  }

  .section-7 {
    padding: 3rem 0;
  }

  .section-8 {
    padding: 3rem 0;
  }

  footer {
    padding: 2rem 1rem;
  }
}
